/* Custom styles*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 2em;

}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.col-6{
	width: 50%;
}
body{
	background-color: grey;
}
.section-header{
	background-color: #0cf;	
	height: 90px;
}
.section-header h2{
	text-align: center;
	font-weight: bold;
	padding-top: 10px;
	font-size: 30px;
}
.resume-section{
	margin-right: 30px;
	margin-left: 30px;
	background-color: orange;
	display: flex;
	flex-direction: column;
}
table{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}
[img_responsive]{
	width: 100px;
	border-radius: 5px;
}
.info{
	flex: 2;
}
.pd{
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
}
.lead{
	color:blue;
}
.section-footer{
	background-color: #0cf;	
	height: 90px;
	
}
.section-footer ul{
	padding-top: 30px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.form-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:0 30%;
	margin-top: 20px; 
}
.signup{
	padding: 50px;
}
.signup-form{
		padding: 30px;
		display: flex;
		flex-direction: column;
		line-height: 30px;
}
legend{
	padding: 40px;
}
input[type=text], input[type=password], input[type=email], input[type=textfield]{
	width: 90%;
	padding:12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	justify-content: center;
	margin-bottom: 20px;
}
input[type=checkbox]{
	margin-left: 100px;
	margin-right: 10px;
}
fieldset{
	border: none;
}
.align-center{
	text-align: center;
	color: blue;
}
.btn-in{
	width: 200px;
	margin-top: 20px;
	margin-left: 100px;
	background-color: blue;
	border:none;
	padding:15px 40px;
	text-align: center;
	display: inline-block;
}
.btn-in a{
	color: white;
	font-size: 16px;
	text-decoration: none;
}